<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Best Palindrome Checker in the World!</title>
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <p class="error">You have to provide a phrase before submitting. Try again.</p>
        <a href="/">Try another palindrome</a>
    </body>
</html>