<div class="row">
    <div class="col-sm-12">
        <form id="static-form" method="post">
            <div class="form-group">
                <label for="phrase">Phrase</label>
                <input type="text" class="form-control" id="phrase" name="phrase" placeholder="Text goes here">
            </div>

            <div class="form-group hidden" id="error-container">
                <div class="alert alert-danger text-goes-here">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>

            <div class="form-group hidden" id="result-container">
                <ol id="attempts"></ol>
            </div>
            <input name= '_method' value="PUT" hidden/>
        </form>
    </div>
</div>